<!DOCTYPE html>
<html lang="en"  >
<head>
    <meta charset="utf-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="../assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="../assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/libs/css/style.css">
    <link rel="stylesheet" href="../assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="../assets/vendor/charts/morris-bundle/morris.css">

    <title>Title</title>
</head>
<body>
<h3 align="center" style="color: orange">Mentor Registration</h3>
<div align="center">
<form th:action="@{/mentor/register}" method="post" th:object="${mentor}">

    <label style="font-weight: bold" class="col-form-label">First Name:</label>
    <input th:field="*{firstName}" type="text" id="firstName" name="firstName" class="form-control" placeholder="first name"><br>

    <label style="font-weight: bold" class="col-form-label">Last Name:</label>
    <input type="text" id="lastname" name="lastname" class="form-control" placeholder="last name" th:field="*{lastName}"><br>
    <hr>
    <label style="font-weight: bold" class="col-form-label">Email:</label>
    <input th:field="*{email}" type="text" id="email" name="email" class="form-control" placeholder="email"><br>

    <label style="font-weight: bold" class="col-form-label">Graduated:</label>
    <input th:field="*{graduated}" type="checkbox" id="graduated" name="graduated" class="form-control"> <br>

    <br>
    <label>Gender:</label>
    <label th:field="*{gender}" class="custom-control custom-radio custom-control-inline">
        <input type="radio" name="radio-inline" checked=""
               class="custom-control-input"><span
            class="custom-control-label">Male</span>
    </label>

    <label th:field="*{gender}" class="custom-control custom-radio custom-control-inline">
        <input type="radio" name="radio-inline" checked=""
               class="custom-control-input"><span
            class="custom-control-label">Female</span>
    </label> <br>

    <label>Batch Number:</label>
    <select th:field="*{batch}"name="batchNumber" id="batchNumber" class="custom-select" required="required">
        <option value="none" selected="selected">Select</option>
        <option th:each="batcNumber:${batch}" th:value="${batcNumber}" th:text="${batcNumber}"  ></option>
    </select> <br>

<!--    Example to show th:value (inspect elements to check value-->
<!--    <label>Cydeo Course Curriculums</label>-->
<!--    <select >-->
<!--        <option value="none" selected="selected">Select</option>-->
<!--        <option value="Java" >JAVA</option>-->
<!--        <option value="Selenium" >SELENIUM</option>-->
<!--        <option value="Sql" >SQL</option>-->
<!--       </option>-->
<!--    </select> <br>-->

    <label> Company:</label>
    <textarea th:field="*{company}"></textarea> <br>
    <button type="submit" style="color: #28a745"> Register </button>
</form>
<!--    <h2 th:text="${mentor.firstName==null ? 'Register is Sucess' : 'Something Went Wrong'}"></h2>-->
</div>

<script src="assets/vendor/jquery/jquery-3.3.1.min.js"></script>
<!-- bootstap bundle js -->
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
<!-- slimscroll js -->
<script src="assets/vendor/slimscroll/jquery.slimscroll.js"></script>
<!-- main js -->
<script src="assets/libs/js/main-js.js"></script>
<!-- chart chartist js -->
<script src="assets/vendor/charts/chartist-bundle/chartist.min.js"></script>
<!-- sparkline js -->
<script src="assets/vendor/charts/sparkline/jquery.sparkline.js"></script>
<!-- morris js -->
<script src="assets/vendor/charts/morris-bundle/raphael.min.js"></script>
<script src="assets/vendor/charts/morris-bundle/morris.js"></script>
<!-- chart c3 js -->
<script src="assets/vendor/charts/c3charts/c3.min.js"></script>
<script src="assets/vendor/charts/c3charts/d3-5.4.0.min.js"></script>
<script src="assets/vendor/charts/c3charts/C3chartjs.js"></script>
<script src="assets/libs/js/dashboard-ecommerce.js"></script>
</body>

</html>