<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>
   <b>Welcome to Java Developer Course!</b>
</p>
<h1 align="center" style="color:blue">Spring Boot</h1>
<h2 align="center" style="color: aqua">Spring Boot</h2>
<h3 align="center" style="color: red">Spring Boot</h3>
<h4 align="center" style="color: chartreuse">Spring Boot</h4>
<h5 align="center" style="color: aquamarine">Spring Boot</h5>
<h6 align="center" style="color: black">Spring Boot</h6>
<h5 align="center" style="color: pink">Spring Boot</h5>
<h4 align="center" style="color: darkorange">Spring Boot</h4>
<h3 align="center" style="color:darkgreen">Spring Boot</h3>
<h2 align="center" style="color:hotpink">Spring Boot</h2>
<h1 align="center" style="color: chocolate">Spring Boot</h1>

<!--image tag-->
<!--<img src="SanFrancisco.png" alt="Example of putting pic">-->
<!--List Example-->
<ul>
    <li>JAVA</li>
    <li>MVC</li>
    <li>ORM</li>
</ul>

<!--Link-->
<a href="https://Google.com" style="color: darkgreen">Google Home</a>
<br>
<br>

<!--WebTable-->
<table>
<thead>

<b>Basic Student Information Table</b>
<tr>
    <td><b>StudentID</b></td>
    <td><b>Name</b></td>
    <td><b>Gender</b></td>
    <td><b>Score</b></td>
</tr>

</thead>
   <tbody>
   <tr>
       <td>100001</td>
       <td>Jack</td>
       <td>M</td>
       <td>99</td>
   </tr>

   <tr>
       <td>100002</td>
       <td>Mick</td>
       <td>M</td>
       <td>95</td>
   </tr>

   <tr>
       <td>100003</td>
       <td>Jennifer</td>
       <td>L</td>
       <td>100</td>
   </tr>

   </tbody>


</table>
</body>
</html>